
@model ClientScopesDetailsViewModel

@{
    ViewData["Title"] = "Client Scopes";
}

<h1>Client Scopes</h1>

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" asp-for="ClientId" />
        <label>ClientID: </label> @Model.ClientIdString <br />
        <label>Client Name: </label> @Model.ClientName <br />
    </div>
</div>

<a asp-action="Add" asp-route-clientid="@Model.ClientId">Add</a>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Scope</th>
                <th></th>
            </tr>

            @for (var i = 0; i < Model.Scopes.Count; i++)
            {
                var row = Model.Scopes[i];
                <tr>
                    <td>@row.Scope</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@row.Id" asp-route-clientid="@Model.ClientId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>