

@model UserRolesDetailsViewModel

@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" asp-for="UserId" />
        <label>Username: </label> @Model.Username <br />
        <label>Email: </label> @Model.Email <br />
    </div>
</div>

<a asp-action="Add" asp-route-userid="@Model.UserId">Add</a>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>

            @for (var i = 0; i < Model.Roles.Count; i++)
            {
                var row = Model.Roles[i];
                <tr>                   
                    <td>@row.Name</td>
                    <td>
                        <a asp-action="Delete" asp-route-roleid="@row.Id" asp-route-userid="@Model.UserId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>