
@model List<ClientDetailsViewModel>


@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<a asp-action="Add">Add</a>

<div class="row">

    <div class="col-lg-12">

        <table class="table table-bordered">
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th></th>
            </tr>

            @for (var i = 0; i < Model.Count; i++)
            {
                var row = Model[i];
                <tr>
                    <td>@row.ClientId</td>
                    <td>@row.ClientName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@row.Id">Edit</a>
                        <a asp-controller="ClientClaims" asp-action="Claims" asp-route-id="@row.Id">Claims</a>
                        <a asp-controller="ClientGrantTypes" asp-action="GrantTypes" asp-route-id="@row.Id">Grant Types</a>
                        <a asp-controller="ClientSecrets" asp-action="Secrets" asp-route-id="@row.Id">Secrets</a>
                        <a asp-action="Delete" asp-route-id="@row.Id">Delete</a>
                    </td>
                </tr>

            }

        </table>

    </div>

</div>