
@model ClientPostLogoutRedirectUrisDetailsViewModel

@{
    ViewData["Title"] = "Client Post Logout Redirect URIs";
}

<h1>Client Post Logout Redirect URIs</h1>

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" asp-for="ClientId" />
        <label>ClientID: </label> @Model.ClientIdString <br />
        <label>Client Name: </label> @Model.ClientName <br />
    </div>
</div>

<a asp-action="Add" asp-route-clientid="@Model.ClientId">Add</a>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Post Logout Redirect URI</th>
                <th></th>
            </tr>

            @for (var i = 0; i < Model.PostLogoutRedirectUris.Count; i++)
            {
                var row = Model.PostLogoutRedirectUris[i];
                <tr>
                    <td>@row.PostLogoutRedirectUri</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@row.Id" asp-route-clientid="@Model.ClientId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>